<div class="container">
  <h1>Quiz編集</h1>

  <%= render 'form', question: @question %>

  <%= link_to '詳細', @question, class: 'btn btn-block btn-outline-success' %>
  <%= link_to '戻る', questions_path, class: 'btn btn-block btn-outline-info'  %>
</div>
